# Data Cleaning & Preprocessing

In [589]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## **Clean CAHOOTS data**

In [591]:
# read in data, set constant datatypes for columns with mixed datatypes
cad14 = pd.read_csv('project-data/CAD_data_through_2025/class_data_2014.csv')
cad15 = pd.read_csv('project-data/CAD_data_through_2025/class_data_2015.csv')
cad16 = pd.read_csv('project-data/CAD_data_through_2025/class_data_2016.csv')
cad17 = pd.read_csv('project-data/CAD_data_through_2025/class_data_2017.csv', dtype={'zip': str})
cad18 = pd.read_csv('project-data/CAD_data_through_2025/class_data_2018.csv')
cad19 = pd.read_csv('project-data/CAD_data_through_2025/class_data_2019.csv', dtype={'zip': str})
cad20 = pd.read_csv('project-data/CAD_data_through_2025/class_data_2020.csv', dtype={'zip': str})
cad21 = pd.read_csv('project-data/CAD_data_through_2025/class_data_2021.csv', dtype={'case_id': str})
cad22 = pd.read_csv('project-data/CAD_data_through_2025/class_data_2022.csv', dtype={'zip': str})
cad23 = pd.read_csv('project-data/CAD_data_through_2025/class_data_2023.csv', dtype={'zip': str})
cad24 = pd.read_csv('project-data/CAD_data_through_2025/class_data_2024.csv', dtype={'zip': str})
cad25 = pd.read_csv('project-data/CAD_data_through_2025/class_data_2025.csv', dtype={'case_id': str, 'zip': str})

# combine
cad = [cad14, cad15, cad16, cad17, cad18, cad19, cad20, cad21, cad22, cad23, cad24, cad25]

combined_cad_data = pd.concat(cad, ignore_index=True)

cahoots = combined_cad_data[combined_cad_data['primeunit'] == 'CAHOOT'].reset_index()
cahoots.head()

,index,yr,service,inci_id,calltime,case_id,callsource,nature,closecode,closed_as,...,secs_to_arrv,secs_to_close,disp,arrv,beat,priority,zip,primeunit,units_dispd,units_arrived
0,44,2014,LAW,14000107,2014-01-01 01:55:39.000,NaN,PHONE,TRANSPORT,TRAN,TRANSPORT MADE,...,1833.0,2339,1,1,EP02,5,97401,CAHOOT,1,1
1,153,2014,LAW,14000382,2014-01-01 12:50:34.000,NaN,PHONE,TRANSPORT,ASST,ASSISTED,...,545.0,744,1,1,EP02,5,97401,CAHOOT,1,1
2,170,2014,LAW,14000408,2014-01-01 13:29:17.000,NaN,PHONE,TRANSPORT,ASST,ASSISTED,...,2409.0,4116,1,1,EP05,5,97402,CAHOOT,1,1
3,174,2014,LAW,14000414,2014-01-01 13:37:12.000,NaN,PHONE,CHECK WELFARE,DIS,DISREGARD,...,NaN,2389,0,0,EP01,5,97401,CAHOOT,0,0
4,176,2014,LAW,14000416,2014-01-01 13:38:38.000,NaN,PHONE,SUBJECT DOWN,ASST,ASSISTED,...,600.0,1680,1,1,EP05,1,97402,CAHOOT,1,1

### Look at call types

In [593]:
cahoots['nature'].unique()

array(['TRANSPORT', 'CHECK WELFARE', 'SUBJECT DOWN',
       'ASSIST PUBLIC- POLICE', 'TRAFFIC HAZARD', 'CRIMINAL TRESPASS',
       'DISPUTE', 'FOUND SYRINGE', 'DISORDERLY SUBJECT', 'PERSON STOP',
       'ASSIST FIRE DEPARTMENT', 'INTOXICATED SUBJECT', 'TRAFFIC STOP',
       'SUICIDAL SUBJECT', 'SUSPICIOUS CONDITIONS', 'ASSAULT',
       'DEATH MESSAGE', 'SUSPICIOUS SUBJECT', 'DISORIENTED SUBJECT',
       'ASSIST OUTSIDE AGENCY', 'LOUD NOISE', 'HAZARD SAFETY',
       'MENTAL SUBJECT', 'OVERDOSE', 'ASSAULT WITH INJURY',
       'MOTOR VEH ACC UNKNOWN INJ', 'HARASSMENT',
       'MOTOR VEH ACC NO INJURY', 'MISSING JUVENILE', 'EMERGENCY MESSAGE',
       'INFORMATION - POLICE', 'DISORDERLY MEDICAL TRANSPORT',
       'FOUND CONTRABAND', 'BEAT INFORMATION', 'FOLLOW UP',
       'ASSIST SHERIFFS OFFICE', 'UNKNOWN PROBLEM', 'ACCIDENT BIKE',
       'PATROL CHECK', 'INJURED SUBJECT', 'ILLEGAL CAMPING',
       'SUBJECT SCREAMING', 'DRUG INFO', 'CIVIL STANDBY',
       'DISORDERLY JUVENILES', 'RECKLESS DRIVIING', 'CRIMINAL MISCHIEF',
       'DOG BITE', 'NUDE SUBJECT', 'MENTAL TRANSPORT',
       'INDECENT EXPOSURE', 'INCOMPLETE CALL', 'CITIZEN CONTACT',
       'ATTEMPT TO LOCATE', 'TRAFFIC COMPLAINT', 'DOG AT LARGE',
       'POISONING', 'FIGHT', 'MISSING PERSON', 'DISPUTE FAMILY', 'THEFT',
       'PUBLIC INDECENCY', 'ACCIDENT VEHICLE BIKE', 'SEIZURES',
       'RESPIRATORY ARREST', 'WALKAWAY', 'VIOLATION OF CITY ORDINANCE',
       'SEX ABUSE', 'FRAUD', 'OPEN CONTAINER', 'FOOT PATROL',
       'THEFT OF IDENTITY', 'ILLEGAL BURNING', 'UNATTENDED CHILDREN',
       'INJURED ANIMAL', 'ANIMAL CRUELTY', 'BURGLARY', 'ANIMAL COMPLAINT',
       'THEFT FROM VEHICLE', 'ROBBERY', 'OPEN DOOR', 'DISABLED VEHICLE',
       'RAPE', 'AUDIBLE ALARM', 'ATTEMPT TO LOCATE DRUNK DRIVER',
       'FOUND ANIMAL', 'SHOPLIFT 3050 PROGRAM', 'ASSIST MOTORIST',
       'LOST SUBJECT', 'BLOCKED SIDEWALK', 'SUSPICIOUS VEHICLE',
       'CARDIAC ARREST', 'VEHICLE/PEDESTRIAN CRASH', 'ANIMAL ATTACK/BITE',
       'FOUND CHILD', 'JUVENILE PROBLEM', 'DOWN LINE', 'GUNSHOT WOUND',
       'LOCATE MISSING PERSON', 'FOUND PROPERTY', 'REQUEST COVER',
       'ARMED SUBJECT', 'UNAUTHORIZED USE OF VEHICLE', 'RUNAWAY JUVENILE',
       'CHILD ABUSE', 'THEFT OF SERVICES', 'RECKLESS BURNING',
       'BLOCKED ALLEY', 'ASSAULT PUBLIC SAFETY OFFICER', 'DETOXIFICATION',
       'ILL SUBJECT', 'ASSIST OREGON STATE POLICE', 'OFFICER SAFETY INFO',
       'LOCATION RUNAWAY', 'PROWLER', 'UNLAWFUL VEHICLE ENTRY',
       'ILLEGAL DUMPING', 'GAS LEAK', 'HIT AND RUN', 'STAB WOUND',
       'COMPUTER CRIME', 'MENACING', 'FLAGGED DOWN', 'SHOTS FIRED',
       'SUICIDE', 'RECKLESS DRIVING', 'DECEASED SUBJECT',
       'REQUEST ASSISTANCE', 'ASSIST PUBLIC WORKS',
       'INFORMATION- BOTH PD AND FD', 'WATER RESCUE', 'ANIMAL AT LARGE',
       'DEAD ANIMAL', 'LIVESTOCK AT LARGE', 'CHECK WELFARE, CAHOOTS',
       'STALKING COMPLAINT', 'ELDERLY ABUSE', 'SUICIDAL SUBJECT, CAHOOTS',
       'WRONG WAY DRIVER', 'FOUND SYRINGE, CAHOOTS', 'TRANSPORT, CAHOOTS',
       'PUBLIC ASSIST, CAHOOTS', 'DISORDERLY SUBJECT, CAHOOTS',
       'ASSIST PD, CAHOOTS', 'INTOXICATED SUBJECT, CAHOOTS',
       'DISORIENTED SUBJECT, CAHOOTS', 'INFO / ATL, CAHOOTS',
       'ASSIST FD, CAHOOTS', 'TRAFFIC HAZARD, CAHOOTS',
       'VIOLATION OF RESTRAINING ORDER', 'DOG BARKING'], dtype=object)

In [594]:
types = cahoots.groupby('nature').count()
types['inci_id'].sum()
types.sort_values('inci_id', ascending=False).head(15)

,index,yr,service,inci_id,calltime,case_id,callsource,closecode,closed_as,secs_to_disp,secs_to_arrv,secs_to_close,disp,arrv,beat,priority,zip,primeunit,units_dispd,units_arrived
nature,,,,,,,,,,,,,,,,,,,,
ASSIST PUBLIC- POLICE,42207,42207,42207,42207,42207,38,42207,42207,42204,35880,32619,42207,42207,42207,42207,42207,42207,42207,42207,42207
CHECK WELFARE,36783,36783,36783,36783,36783,34,36783,36783,36777,32999,30258,36783,36783,36783,36783,36783,36783,36783,36783,36783
TRANSPORT,27947,27947,27947,27947,27947,15,27947,27947,27945,23563,21356,27947,27947,27947,27947,27947,27947,27947,27947,27947
"PUBLIC ASSIST, CAHOOTS",19172,19172,19172,19172,19172,25,19172,19172,19171,16214,13475,19172,19172,19172,19172,19172,19172,19172,19172,19172
"CHECK WELFARE, CAHOOTS",15791,15791,15791,15791,15791,22,15791,15791,15790,13278,11454,15791,15791,15791,15791,15791,15791,15791,15791,15791
SUICIDAL SUBJECT,6428,6428,6428,6428,6428,13,6428,6428,6428,6282,5918,6428,6428,6428,6428,6428,6428,6428,6428,6428
"TRANSPORT, CAHOOTS",4751,4751,4751,4751,4751,4,4751,4751,4750,3997,3429,4751,4751,4751,4751,4751,4751,4751,4751,4751
"SUICIDAL SUBJECT, CAHOOTS",4344,4344,4344,4344,4344,11,4344,4344,4344,3970,3497,4344,4344,4344,4344,4344,4344,4344,4344,4344
INTOXICATED SUBJECT,2937,2937,2937,2937,2937,6,2937,2937,2937,2637,2413,2937,2937,2937,2937,2937,2937,2937,2937,2937
"ASSIST PD, CAHOOTS",2175,2175,2175,2175,2175,5,2175,2175,2175,1911,1653,2175,2175,2175,2175,2175,2175,2175,2175,2175
FOUND SYRINGE,1987,1987,1987,1987,1987,1,1987,1987,1987,1836,1580,1987,1987,1987,1987,1987,1987,1987,1987,1987
"INFO / ATL, CAHOOTS",1938,1938,1938,1938,1938,0,1938,1938,1938,1332,488,1938,1938,1938,1938,1938,1938,1938,1938,1938
DISORDERLY SUBJECT,1784,1784,1784,1784,1784,5,1784,1784,1784,1735,1616,1784,1784,1784,1784,1784,1784,1784,1784,1784
TRAFFIC HAZARD,1721,1721,1721,1721,1721,3,1721,1721,1721,1709,1563,1721,1721,1721,1721,1721,1721,1721,1721,1721
ASSIST FIRE DEPARTMENT,1324,1324,1324,1324,1324,0,1324,1324,1322,1192,1077,1324,1324,1324,1324,1324,1324,1324,1324,1324

In [595]:
# replace duplicates like ASSIST PUBLIC - POLICE and PUBLIC ASSIST, CAHOOTS

cahoots['nature'] = cahoots['nature'].replace('ASSIST PUBLIC- POLICE', 'PUBLIC ASSIST')
cahoots['nature'] = cahoots['nature'].replace('PUBLIC ASSIST, CAHOOTS', 'PUBLIC ASSIST')
cahoots['nature'] = cahoots['nature'].replace('CHECK WELFARE, CAHOOTS', 'WELFARE CHECK')
cahoots['nature'] = cahoots['nature'].replace('CHECK WELFARE', 'WELFARE CHECK')
cahoots['nature'] = cahoots['nature'].replace('TRANSPORT, CAHOOTS', 'TRANSPORT')
cahoots['nature'] = cahoots['nature'].replace('SUICIDAL SUBJECT, CAHOOTS', 'SUICIDAL SUBJECT')
cahoots['nature'] = cahoots['nature'].replace('FOUND SYRINGE, CAHOOTS', 'FOUND SYRINGE')
cahoots['nature'] = cahoots['nature'].replace('ASSIST FD, CAHOOTS', 'ASSIST FIRE DEPARTMENT')
cahoots['nature'] = cahoots['nature'].replace('ASSIST PD, CAHOOTS', 'ASSIST POLICE DEPARTMENT')
cahoots['nature'] = cahoots['nature'].replace('ASSIST SHERIFFS OFFICE', 'ASSIST POLICE DEPARTMENT')
cahoots['nature'] = cahoots['nature'].replace('ASSIST OREGON STATE POLICE', 'ASSIST POLICE DEPARTMENT')
cahoots['nature'] = cahoots['nature'].replace('DISORIENTED SUBJECT, CAHOOTS', 'DISORIENTED SUBJECT')
cahoots['nature'] = cahoots['nature'].replace('DISORDERLY SUBJECT, CAHOOTS', 'DISORDERLY SUBJECT')
cahoots['nature'] = cahoots['nature'].replace('INTOXICATED SUBJECT, CAHOOTS', 'INTOXICATED SUBJECT')
cahoots['nature'] = cahoots['nature'].replace('TRAFFIC HAZARD, CAHOOTS', 'TRAFFIC HAZARD')
cahoots['nature'] = cahoots['nature'].replace('RECKLESS DRIVIING', 'RECKLESS DRIVING')
cahoots['nature'] = cahoots['nature'].replace('DOG AT LARGE', 'ANIMAL AT LARGE')

### Deal with missing values, drop variables/columns I don’t need, and convert dates to datetime and extract a 'Date' column

In [597]:
# select only variables of interest
cahoots = cahoots[['yr', 'inci_id', 'calltime', 'nature']]

# drop missing values, if any
#cahoots[pd.isna(cahoots['calltime'])]
cahoots = cahoots.dropna()

# pd datetime
cahoots['calltime'] = pd.to_datetime(cahoots['calltime'],
                                     format='%Y-%m-%d %H:%M:%S.%f')
# extract only date
cahoots['Date'] = cahoots['calltime'].dt.date

cahoots.head()

     yr   inci_id            calltime         nature        Date
0  2014  14000107 2014-01-01 01:55:39      TRANSPORT  2014-01-01
1  2014  14000382 2014-01-01 12:50:34      TRANSPORT  2014-01-01
2  2014  14000408 2014-01-01 13:29:17      TRANSPORT  2014-01-01
3  2014  14000414 2014-01-01 13:37:12  WELFARE CHECK  2014-01-01
4  2014  14000416 2014-01-01 13:38:38   SUBJECT DOWN  2014-01-01

In [598]:
# # Grouping incident types by category
# incident_categories = {
#     'Mental Health / Substance Crisis': [
#         'SUICIDAL SUBJECT', 'MENTAL SUBJECT', 'DISORIENTED SUBJECT', 
#         'MENTAL TRANSPORT', 'SUICIDAL SUBJECT, CAHOOTS', 'DISORIENTED SUBJECT, CAHOOTS',
#         'SUICIDE', 'OVERDOSE', 'INTOXICATED SUBJECT', 'IN POSSESSION OF NARCOTICS', 'DUII', 
#         'REQUEST DRE', 'OPEN CONTAINER', 'MINOR IN POSSESSION', 
#         'CONTROLLED SUBSTANCE VIOLATION', 'DRUG INFO', 'DRUG K9', 'FOUND SYRINGE',
#         'FOUND CONTRABAND', 'SEIZED CONTRABAND', 'NARCOTICS INVESTIGATION',
#         'FORGED PRESCRIPTION', 'DETOXIFICATION', 'MINOR IN POSSESSION TOBACCO'
#     ],
    
#     'Welfare Checks': [
#         'CHECK WELFARE', 'CHECK WELFARE, CAHOOTS', 'OVERDUE SUBJECT',
#         'FOUND CHILD', 'LOST SUBJECT', 'WALKAWAY', 'ATTEMPT TO LOCATE',
#         'UNAUTHORIZED DEPARTURE', 'MISSING PERSON', 'LOCATE MISSING PERSON',
#         'MISSING PERSON CLEAR', 'UNKNOWN PROBLEM', 'ATTEMPT TO LOCATE CANCEL',
#         'EMERGENCY MESSAGE', 'DEATH MESSAGE', 'EMERGENCY LOCATE REQUEST',
#         'OPEN DOOR', 'OPEN WINDOW', 'OPEN GATE', 'MISSING JUVENILE', 'RUNAWAY JUVENILE', 
#         'UNATTENDED CHILDREN', 'CHILD ABANDONED', 'JUVENILE PROBLEM', 'SUSPICIOUS SUBJECT', 'SUSPICIOUS VEHICLE', 
#         'SUSPICIOUS CONDITIONS', 'SUSPICIOUS DEVICE', 'SUSPICIOUS SUBSTANCE', 'PROWLER',
#         'PERSON STOP', 'FLAGGED DOWN', 'ESCAPE', 'IMPERSONATING AN OFFICER', 
#         'INTERFERING WITH POLICE', 'MENACING', 'FOUND ANIMAL', 'ABANDONED ANIMAL', 
#     ],
    
#     'Public Disturbances': [
#         'DISORDERLY SUBJECT', 'SUBJECT SCREAMING', 'LOUD NOISE', 'DISORDERLY PARTY', 'LOUD PARTY', 
#         'DISORDERLY CONDUCT', 'DISORDERLY JUVENILES', 'CRIMINAL TRESPASS', 'ILLEGAL CAMPING',
#         'DISPUTE', 'DISPUTE FAMILY', 'FIGHT', 'HARASSMENT', 'ILLEGAL FIREWORKS', 'ILLEGAL BURNING',
#         'BLOCKED SIDEWALK', 'PARKING VIOLATION', 'ILLEGAL PARKING', 'BLOCKED DRIVEWAY',
#         'VIOLATION OF CITY ORDINANCE', 'CURB/EASEMENT TRESPASSING', 'BLOCKED ALLEY',
#         'STORAGE ON STREET', 'LITTERING OFFENSIVE', 'LOUD CONSTRUCTION',
#         'ILLEGAL MOTORCYCLE', 'BIKE SKATEBOARD COMPLAINT', 'NUISANCE VEHICLE',
#         'NUISANCE CODE VIOLATIONS', 'RIOT', 'GUARD DUTY',
#         'STALKING COMPLAINT', 'VIOLATION OF RESTRAINING ORDER', 'PROSTITUTION',
#         'PUBLIC INDECENCY', 'NUDE SUBJECT', 'INDECENT EXPOSURE',
#         'DISORDERLY MEDICAL TRANSPORT', 'INTIMIDATION', 'ANIMAL COMPLAINT',  'ANIMAL AT LARGE', 'DOG AT LARGE', 'DOG BARKING', 
#         'LIVESTOCK AT LARGE'
#     ],
    
#     'Medical Assistance': [
#         'INJURED SUBJECT', 'SUBJECT DOWN', 'CARDIAC ARREST', 'RESPIRATORY ARREST', 'ILL SUBJECT', 'POISONING',
#         'MEDICAL INFORMATION', 'DROWNING', 'ASSAULT', 'ASSAULT WITH INJURY', 'SEX ABUSE', 'STAB WOUND', 'RAPE', 'GUNSHOT WOUND', 
#         'HOMICIDE', 'SUICIDE', 'DECEASED SUBJECT', 'ACCIDENT ATV INJURY', 'ACCIDENT TRAIN INJURY', 
#         'HIT AND RUN INJURY', 'MOTOR VEH ACC INJURY', 'MOTOR VEH ACC FATALITY', 'VEHICLE/PEDESTRIAN CRASH', 'DOG BITE', 
#         'ANIMAL ATTACK/BITE', 'ANIMAL BITE', 'ACCIDENT AIRCRAFT INJURY',
#     ],
    
#     'Crimes': [
#         'THEFT', 'BURGLARY', 'THEFT FROM VEHICLE', 'UNAUTHORIZED USE OF VEHICLE', 'THEFT OF LICENSE PLATE',
#         'THEFT OF BICYCLE', 'THEFT OF GUN', 'THEFT OF MAIL', 'THEFT OF IDENTITY', 'THEFT OF SERVICES', 'SHOPLIFT',
#         'CRIMINAL MISCHIEF', 'GRAFFITI', 'ILLEGAL DUMPING', 'ABANDONED PROPERTY', 'ABANDONED VEHICLE', 'ABANDONED BIKE',
#         'FORGERY', 'FRAUD', 'LOCATION STOLEN VEHICLE', 'LOCATION STOLEN PROPERTY',
#         'RECOVERED STOLEN VEHICLE', 'RECOVERED STOLEN PROPERTY', 'UNLAWFUL VEHICLE ENTRY',
#         'FORGED CHECK', 'THEFT BY DECEPTION', 'COMPUTER CRIME',
#         'DAMAGE CITY PROPERTY', 'DAMAGED GOVERNMENT PROPERTY',
#         'CHRISTMAS LIGHT THEFT DAMAGE', 'PURSE SNATCH', 'ARSON', 'RECKLESS BURNING',
#         'SHOPLIFT 3050 PROGRAM', 'MISSING VEHICLE', 'SWITCHED PLATE', 'ROBBERY', 'RECKLESS ENDANGERING', 'KIDNAP', 'COERCION', 
#         'EXTORTION', 'SODOMY', 'ASSAULT APA', 'ASSAULT PUBLIC SAFETY OFFICER', 'OFFICER INVOLVED SHOOTING', 'WEAPON OFFENSE', 
#         'ARMED SUBJECT', 'SHOTS FIRED', 'ARMED DISPUTE', 'CHILD ABUSE', 'CHILD NEGLECT', 'ELDERLY ABUSE', 'CRIMINAL MISTREATMENT', 
#         'ANIMAL CRUELTY', 'ANIMAL ABUSE'
#     ],
    
#     'Traffic Related': [
#         'TRAFFIC STOP', 'TRAFFIC HAZARD', 'TRAFFIC SIGNAL MALFUNCTION', 'MOTOR VEH ACC NO INJURY', 'MOTOR VEH ACC UNKNOWN INJ',
#         'HIT AND RUN', 'DISABLED VEHICLE', 
#         'CARELESS DRIVING', 'RECKLESS DRIVING', 'WRONG WAY DRIVER', 'ATTEMPT TO LOCATE DRUNK DRIVER', 
#         'DRIVING COMPLAINT', 'SPEEDING VEHICLE', 'SPEEDING MOTORCYCLE', 'ACCIDENT BIKE',
#         'ACCIDENT VEHICLE BIKE', 'VEHICLE IN WATER', 'TRAFFIC COMPLAINT',
#         'RAILROAD CROSSING PROBLEM', 'STOP SIGN DOWN', 'SIGN DOWN',
#         'ROAD CLOSURE INFORMATION', 'TOWED VEHICLE', 'IMPOUNDED VEHICLE',
#         'TRAIN VS PED/BIKE CRASH', 'DWS', 'ASSIST MOTORIST', 'VIN INSPECTION',
#         'VEHICLE RELEASE', 'TRUCK SAFETY CHECKS', 'REPOSSESSED VEHICLE',
#         'VEHICLE CHECK', 'TRAIN VS VEHICLE CRASH', 'MOTOR VEHICLE ACC W/HAZMAT'
#     ],
  
#     'Emergency Assistance & Public Safety': [
#         'ALARM', 'ALARM PANIC', 'AUDIBLE ALARM', 'ASSIST PUBLIC- POLICE', 'ASSIST FIRE DEPARTMENT', 'ASSIST OUTSIDE AGENCY', 'ASSIST SHERIFFS OFFICE',
#         'ASSIST OREGON STATE POLICE', 'ASSIST PUBLIC WORKS', 'WATER PROBLEM', 'DOWN LINE', 'HAZARDOUS MATERIAL',
#         'HAZARDOUS SPILL', 'TREE DOWN', 'BOMB THREAT', 'ILLEGAL DISCHARGE FIREARM', 'WATER RESCUE', 'RESCUE OPERATION',
#         'EXPLOSION', 'FLOOD', 'GAS LEAK', 'OUTSIDE GAS LEAK', 'GAS LEAK, STRUCTURE', 'GAS LEAK, MINOR STRUCTURE', 'GAS LEAK, LARGE STRUCTURE',
#         'FIRE', 'TRASH BIN FIRE', 'BUSHFIRE', 'BRUSH FIRE',
#         'ALARM SILENT', 'ALARM HOLD UP', 'ALARM DURESS', 'ALARM BC ACTIVATION', 'AWARE ALARM',
#         'REQUEST COVER', 'REQUEST K9', 'REQUEST ASSISTANCE',
#         'HAZARD SAFETY', 'POLICE OFFICER HOLD', 'OFFICER SAFETY INFO',
#         'SEARCH WARRANT', 'BROKEN WATER MAIN', 'PHONE OUTAGE INFORMATION',
#         'LARGE AIRCRAFT PROBLEM', 'SMALL AIRCRAFT PROBLEM', 
#         'ACCIDENT INDUSTRIAL', 'THROWING LIGHTED MATERIAL', 'DOG VICIOUS', 'INJURED ANIMAL', 'DEAD ANIMAL'
#     ],
    
#     'Administrative & General Service': [
#         'FOLLOW UP', 'INFORMATION - POLICE', 'FOOT PATROL', 'PATROL CHECK', 'COMMUNITY POLICING ACTIVITY', 'FOUND PROPERTY', 
#         'LOST PROPERTY', 'CITIZEN CONTACT', 'TRANSPORT', 'CIVIL STANDBY', 'WARRANT SERVICE', 'BAR CHECK', 'BEAT INFORMATION',
#         'INCOMPLETE CALL', 'INFORMATION- BOTH PD AND FD', 'CRIME INFORMATION',
#         'SUBPOENA SERVICE', 'SEIZED PROPERTY', 'ARREST', 
#         'PATROL REQUEST', 'INITIATING FALSE REPORT', 'CITE SERVICE', 'FAIL TO REG SEX OFND', 'LOCATION WANTED SUBJECT',
#         'PURSUIT', 'CUSTODIAL INTERFERENCE', 'LOCATION RUNAWAY',
#         'RUNAWAY CLEARED', 'DIVERT LANE COUNTY JAIL'
#     ]
# }

In [599]:
# # MAP ALL INCIDENTS:

# # mapper dictionary (flip the structure of incident_categories)
# incident_type_mapper = {}
# for category, incident_types in incident_categories.items():
#     for incident_type in incident_types:
#         incident_type_mapper[incident_type] = category

# def map_incident_type(incident_type):
#     # look up the incident type in the mapper dictionary, return its category, otherwise return 'Uncategorized'
#     return incident_type_mapper.get(incident_type, 'Uncategorized')


# # APPLY MAPPING TO CAHOOTS DATASET, ADD NEW COLUMN
# cahoots_simple['IncidentCategory'] = cahoots_simple['InitialIncidentTypeDescription'].apply(map_incident_type)
# cahoots_clean = cahoots_simple

# cahoots_clean.head()

### Examine the granularity / structure of the cleaned cahoots data

In [601]:
print(f'Cleaned cahoots dataset has {len(cahoots)} entries/calls, with a date range of {cahoots['Date'].min()} to {cahoots['Date'].max()}')

Cleaned cahoots dataset has 182581 entries/calls, with a date range of 2014-01-01 to 2025-04-07

## **Clean environmental datasets: temp/precipitation, AQI**

### Filter all datasets to Eugene, Oregon
### and join the multiple years’ worth of temperature + precipitation datasets together, as well as the multiple years’ worth of AQI datasets together

In [642]:
# Temperature and precipitation data for eugene
weather_part1 = pd.read_csv('project-data/weather_data/eugene 2014-01-01 to 2016-07-31.csv')
weather_part2 = pd.read_csv('project-data/weather_data/eugene 2016-08-01 to 2018-12-31.csv')
weather_part3 = pd.read_csv('project-data/weather_data/eugene 2019-01-01 to 2021-07-31.csv')
weather_part4 = pd.read_csv('project-data/weather_data/eugene 2021-08-01 to 2023-12-31.csv')
weather_part5 = pd.read_csv('project-data/weather_data/eugene 2024-01-01 to 2025-04-07.csv')

combined_weather_eugene = pd.concat([weather_part1, weather_part2, 
                                     weather_part3, weather_part4, weather_part5], ignore_index=True)
combined_weather_eugene.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,eugene,2014-01-01,39.0,30.0,36.6,37.7,25.9,34.8,36.1,97.8,...,6.4,3,NaN,2014-01-01T07:47:23,2014-01-01T16:44:54,0.00,Overcast,Cloudy skies throughout the day.,fog,"KCVO,72693024221,99999904236,72694524202,KEUG"
1,eugene,2014-01-02,49.4,34.1,40.5,47.7,28.2,38.1,38.0,91.1,...,6.9,4,NaN,2014-01-02T07:47:24,2014-01-02T16:45:49,0.05,Overcast,Cloudy skies throughout the day.,cloudy,"KCVO,72693024221,99999904236,72694524202,KEUG"
2,eugene,2014-01-03,48.3,33.8,43.0,44.6,27.8,38.8,39.2,86.9,...,2.0,1,NaN,2014-01-03T07:47:24,2014-01-03T16:46:46,0.08,"Rain, Partially cloudy",Partly cloudy throughout the day with early mo...,rain,"KCVO,72693024221,99999904236,72694524202,KEUG"
3,eugene,2014-01-04,39.4,26.7,32.2,33.4,22.1,26.9,30.0,91.5,...,8.0,4,NaN,2014-01-04T07:47:20,2014-01-04T16:47:44,0.11,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"KCVO,72693024221,99999904236,72694524202,KEUG"
4,eugene,2014-01-05,38.1,26.3,30.7,38.1,21.0,28.4,28.2,90.5,...,8.0,4,NaN,2014-01-05T07:47:14,2014-01-05T16:48:44,0.15,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"KCVO,72693024221,99999904236,72694524202,KEUG"

In [644]:
# AQI data for eugene
aqi_2014 = pd.read_csv('project-data/AQI_data/daily_aqi_by_cbsa_2014.csv')
aqi_2015 = pd.read_csv('project-data/AQI_data/daily_aqi_by_cbsa_2015.csv')
aqi_2016 = pd.read_csv('project-data/AQI_data/daily_aqi_by_cbsa_2016.csv')
aqi_2017 = pd.read_csv('project-data/AQI_data/daily_aqi_by_cbsa_2017.csv')
aqi_2018 = pd.read_csv('project-data/AQI_data/daily_aqi_by_cbsa_2018.csv')
aqi_2019 = pd.read_csv('project-data/AQI_data/daily_aqi_by_cbsa_2019.csv')
aqi_2020 = pd.read_csv('project-data/AQI_data/daily_aqi_by_cbsa_2020.csv')
aqi_2021 = pd.read_csv('project-data/AQI_data/daily_aqi_by_cbsa_2021.csv')
aqi_2022 = pd.read_csv('project-data/AQI_data/daily_aqi_by_cbsa_2022.csv')
aqi_2023 = pd.read_csv('project-data/AQI_data/daily_aqi_by_cbsa_2023.csv')
aqi_2024 = pd.read_csv('project-data/AQI_data/daily_aqi_by_cbsa_2024.csv')


combined_aqi_data = pd.concat([aqi_2014, aqi_2015, aqi_2016, aqi_2017, aqi_2018, aqi_2019, aqi_2020, 
                               aqi_2021, aqi_2022, aqi_2023, aqi_2024], ignore_index=True)

# subset to Eugene only
aqi_eugene = combined_aqi_data[combined_aqi_data['CBSA'] == 'Eugene, OR'].reset_index().drop(columns=['index'])
aqi_eugene.head()

,CBSA,CBSA Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,"Eugene, OR",21660,2014-01-01,122,Unhealthy for Sensitive Groups,PM2.5,41-039-2013,5
1,"Eugene, OR",21660,2014-01-02,80,Moderate,PM2.5,41-039-2013,6
2,"Eugene, OR",21660,2014-01-03,71,Moderate,PM2.5,41-039-2013,5
3,"Eugene, OR",21660,2014-01-04,77,Moderate,PM2.5,41-039-2013,5
4,"Eugene, OR",21660,2014-01-05,127,Unhealthy for Sensitive Groups,PM2.5,41-039-2013,6

### Deal with missing values, and drop variables/columns I don’t need

In [646]:
# Temp&Precip dataset:
weather_vars = combined_weather_eugene.drop(columns=['name', 'temp', 'feelslikemax', 'feelslikemin', 'feelslike', 'dew', 
                                                     'windgust', 'windspeed', 'winddir', 'sealevelpressure', 
                                                     'visibility', 'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 
                                                     'sunrise', 'sunset', 'moonphase', 'description', 'icon', 'stations', 'humidity', 
                                                    'precipprob', 'precipcover', 'snowdepth', 'cloudcover'])


# weather_vars table only has missing values in the 'preciptype', column
# Much of this column is missing, so I will drop it
simple_weather = weather_vars.drop(columns=['preciptype'])

#simple_weather.head()

     datetime  tempmax  tempmin  precip  snow              conditions
0  2014-01-01     39.0     30.0   0.000   0.0                Overcast
1  2014-01-02     49.4     34.1   0.000   0.0                Overcast
2  2014-01-03     48.3     33.8   0.019   0.0  Rain, Partially cloudy
3  2014-01-04     39.4     26.7   0.000   0.0        Partially cloudy
4  2014-01-05     38.1     26.3   0.000   0.0        Partially cloudy

In [648]:
# AQI dataset:
simple_aqi = aqi_eugene[['Date', 'AQI', 'Category']]
simple_aqi = simple_aqi.rename(columns={'Category': 'AQI_Category'})

#simple_aqi.head()
# no missing vars

         Date  AQI                    AQI_Category
0  2014-01-01  122  Unhealthy for Sensitive Groups
1  2014-01-02   80                        Moderate
2  2014-01-03   71                        Moderate
3  2014-01-04   77                        Moderate
4  2014-01-05  127  Unhealthy for Sensitive Groups

### Change date column to datetime for both weather & AQI datasets

In [650]:
# weather
simple_weather['Date'] = pd.to_datetime(simple_weather['datetime']).dt.date
weather = simple_weather.drop(columns=['datetime'])

# aqi
simpler_aqi = simple_aqi.rename(columns={'Date': 'str_date'})
simpler_aqi['Date'] = pd.to_datetime(simpler_aqi['str_date']).dt.date
aqi = simpler_aqi.drop(columns=['str_date'])

In [656]:
weather.head()

   tempmax  tempmin  precip  snow              conditions        Date
0     39.0     30.0   0.000   0.0                Overcast  2014-01-01
1     49.4     34.1   0.000   0.0                Overcast  2014-01-02
2     48.3     33.8   0.019   0.0  Rain, Partially cloudy  2014-01-03
3     39.4     26.7   0.000   0.0        Partially cloudy  2014-01-04
4     38.1     26.3   0.000   0.0        Partially cloudy  2014-01-05

In [658]:
aqi.head()

   AQI                    AQI_Category        Date
0  122  Unhealthy for Sensitive Groups  2014-01-01
1   80                        Moderate  2014-01-02
2   71                        Moderate  2014-01-03
3   77                        Moderate  2014-01-04
4  127  Unhealthy for Sensitive Groups  2014-01-05

### Examine the granularity / structure of the cleaned weather & cleaned AQI data

In [652]:
print(f'Cleaned weather dataset has {len(weather)} entries, with a date range of {weather['Date'].min()} to {weather['Date'].max()}')

Cleaned weather dataset has 4115 entries, with a date range of 2014-01-01 to 2025-04-07

In [654]:
print(f'Cleaned AQI dataset has {len(aqi)} entries, with a date range of {aqi['Date'].min()} to {aqi['Date'].max()}')

Cleaned AQI dataset has 3926 entries, with a date range of 2014-01-01 to 2024-09-30

## **Merge all datasets together on Date, before 9/30 2024**
because that's how far we have AQI data until

In [579]:
environmental = pd.merge(aqi, weather, on='Date', how='left')

from datetime import date
filtered = cahoots[cahoots['Date'] < date(2024, 10, 1)]

cahoots_envs = pd.merge(filtered, environmental, how='left')
cahoots_envs.head()

,yr,inci_id,calltime,nature,Date,AQI,AQI_Category,tempmax,tempmin,precip,snow,conditions
0,2014,14000107,2014-01-01 01:55:39,TRANSPORT,2014-01-01,122,Unhealthy for Sensitive Groups,39.0,30.0,0.0,0.0,Overcast
1,2014,14000382,2014-01-01 12:50:34,TRANSPORT,2014-01-01,122,Unhealthy for Sensitive Groups,39.0,30.0,0.0,0.0,Overcast
2,2014,14000408,2014-01-01 13:29:17,TRANSPORT,2014-01-01,122,Unhealthy for Sensitive Groups,39.0,30.0,0.0,0.0,Overcast
3,2014,14000414,2014-01-01 13:37:12,WELFARE CHECK,2014-01-01,122,Unhealthy for Sensitive Groups,39.0,30.0,0.0,0.0,Overcast
4,2014,14000416,2014-01-01 13:38:38,SUBJECT DOWN,2014-01-01,122,Unhealthy for Sensitive Groups,39.0,30.0,0.0,0.0,Overcast

### Make sure I have the variables to answer my research questions (engineer them if not): daily high temp, daily low temp, daily AQI, daily precipitation, daily snow / snow depth
### Engineer variable for “extreme events” like high/low temperature, snow/ice storms, etc.

In [581]:
# select relevant variables for my RQs
simple_cahoots_envs = cahoots_envs[['Date', 'inci_id', 'nature', 'AQI', 'AQI_Category', 'tempmax', 'tempmin', 'precip', 'snow']]

# add a calls-per-day column
daily_call_counts = simple_cahoots_envs.groupby('Date').size().reset_index(name='daily calls')
simple_cahoots_envs = simple_cahoots_envs.merge(daily_call_counts, on='Date')


# ENGINEERING TEMP / SNOW EXTREMES:

# variable for "Extreme HEAT" days (95th percentile of max temps)
temp_95th = simple_cahoots_envs['tempmax'].quantile(0.95)
simple_cahoots_envs['extreme heat'] = (simple_cahoots_envs['tempmax'] >= temp_95th).astype(int)

# variable for "Extreme COLD" days (5th percentile of min temps)
temp_5th = simple_cahoots_envs['tempmin'].quantile(0.05)
simple_cahoots_envs['extreme cold'] = (simple_cahoots_envs['tempmin'] <= temp_5th).astype(int)


# variable for extreme SNOW (based on eugene norms)
simple_cahoots_envs['snow event'] = (simple_cahoots_envs['snow'] > 0.5).astype(int)

# variable for ICE CONDITIONS (freezing temps & precipitation)
simple_cahoots_envs['ice event'] = ((simple_cahoots_envs['tempmin'] <= 32) & 
                   (simple_cahoots_envs['tempmax'] > 32) & 
                   (simple_cahoots_envs['precip'] > 0)).astype(int)

# variable for bad AQI
simple_cahoots_envs['AQI hazard'] = (simple_cahoots_envs['AQI_Category'].isin(['Unhealthy', 'Very Unhealthy'])).astype(int)

simple_cahoots_envs.head()

,Date,inci_id,nature,AQI,AQI_Category,tempmax,tempmin,precip,snow,daily calls,extreme heat,extreme cold,snow event,ice event,AQI hazard
0,2014-01-01,14000107,TRANSPORT,122,Unhealthy for Sensitive Groups,39.0,30.0,0.0,0.0,24,0,0,0,0,0
1,2014-01-01,14000382,TRANSPORT,122,Unhealthy for Sensitive Groups,39.0,30.0,0.0,0.0,24,0,0,0,0,0
2,2014-01-01,14000408,TRANSPORT,122,Unhealthy for Sensitive Groups,39.0,30.0,0.0,0.0,24,0,0,0,0,0
3,2014-01-01,14000414,WELFARE CHECK,122,Unhealthy for Sensitive Groups,39.0,30.0,0.0,0.0,24,0,0,0,0,0
4,2014-01-01,14000416,SUBJECT DOWN,122,Unhealthy for Sensitive Groups,39.0,30.0,0.0,0.0,24,0,0,0,0,0

In [582]:
# write clean data to new csv file

simple_cahoots_envs.to_csv('project-data/clean_cahoots_envs_data.csv', index=False)